/**
 * @file
 * This file provides whatever default styles are needed for the re_slideshow
 * module.
 *
 * @todo Move to re_slideshow feature
 */


/**
 * Styles for the default homepage block:
 */
#block-views-re_slideshow-block_1 {
  position: relative;
}

  #block-views-re_slideshow-block_1 .content {
    min-height: 400px;
  }
  
    #block-views-re_slideshow-block_1 .content .view-content ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: relative;
    }
    
      #block-views-re_slideshow-block_1 .content .view-content ul > li {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: absolute;
      }
      
      #block-views-re_slideshow-block_1 .content .view-content ul .first {
        display: block;
      }
      
        #block-views-re_slideshow-block_1 .content .view-content ul li > div,
        #block-views-re_slideshow-block_1 .content .view-content ul li img {
          margin: 0 auto;
          padding: 0 20px;
          width: 660px;
        }
        
          #block-views-re_slideshow-block_1 .content .view-content ul li img {
            vertical-align: bottom;
          }
        
        #block-views-re_slideshow-block_1 .content .view-content ul li .re_slideshow-title {
          font-size: 1.538em; /* 20px - relative to 13px */
          line-height: 2; /* 40px - relative to 20px */
        }


/**
 * Styles for the nav--if any--in the default homepage block:
 */
#block-views-re_slideshow-block_1 .content .view-content #re_slideshow-view-display-id-block_1-navigation {
  clear: both;
  font-size: 1em; /* 20px - relative to 13px */
  line-height: 1.538; /* 20px - relative to 26px */
  position: absolute;
  right: 39px;
  top: 240px;
  width: auto;
  z-index: 10;
}

  #block-views-re_slideshow-block_1 .content .view-content #re_slideshow-view-display-id-block_1-navigation a {
    background: #000;
    color: #fff;
    display: block;
    float: left;
    height: 1.538em; /* 20px - relative to 13px */
    margin-left: 10px;
    text-align: center;
    width: 1.538em; /* 20px - relative to 13px */
  }
  
  #block-views-re_slideshow-block_1 .content .view-content #re_slideshow-view-display-id-block_1-navigation a:hover {
    background: #999;
    color: #fff;
    text-decoration: none;
  }
  
  #block-views-re_slideshow-block_1 .content .view-content #re_slideshow-view-display-id-block_1-navigation a:active,
  #block-views-re_slideshow-block_1 .content .view-content #re_slideshow-view-display-id-block_1-navigation .current,
  #block-views-re_slideshow-block_1 .content .view-content #re_slideshow-view-display-id-block_1-navigation .activeSlide {
    background: #fff;
    color: #000;
  }